{% extends "layout.html" %}

{% block content %}
{% for entry in entries %}
    <article>
        <h1>{{ entry.title }}</h1>

        <time datetime="{{ entry.date_created.strftime('%Y-%m-%d %H:%M:%S') }}">
            {{ entry.date_created.strftime('%Y-%m-%d %H:%M:%S') }}
        </time>
        <div class="entry">
            <h3>Time Spent: </h3>
            <p>{{ entry.time_spent }}</p>
        </div>
        <div class="entry">
            <h3>What I Learned:</h3>
            <p>{{ entry.content }}</p>
        <div class="entry">
            <h3>Resources to Remember:</h3>
            <ul>
              {% for item in entry.resources.split() %}
                <li><a href="http://{{ item }}" target="_blank">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </div>
        </div>
          <h4>Maybe by: {{ current_user.username }}</h4>
      </article>
            {% if current_user.is_authenticated and current_user.id == entry.user_id %}
            <div class="edit">
                <p><a href="{{ url_for('edit', id=entry.id) }}">Edit Entry</a></p>
                <p><a href="{{ url_for('delete', id=entry.id) }}">Delete Entry</a></p>
            </div>
           {% endif %}
{% endfor %}
{% endblock %}
