{% extends "layout.html" %}


{% block content %}
{% for entry in entries %}
<section>
  <div class="container">
    <div class="entry-list single">
        <article>
            <h1>{{ entry.title }}</h1>
            <time datetime="{{ entry.date_created.strftime('%B %d, %Y') }}">
              On: {{ entry.date_created.strftime('%B %d, %Y') }}
            </time>
            {% for author in authors %}
               {% if entry.user_id == author.id and current_user.id == author.id %}
                    <h4>By: Me</h4>
               {% elif entry.user_id == author.id %}
                    <h4>By: {{ author.username }}</h4>
               {% endif %}
            {% endfor %}
            <div class="entry">
                <h3>Time Spent: </h3>
                <p>{{ entry.time_spent }}</p>
            </div>
            <div class="entry">
                <h3>What I Learned:</h3>
                <p>{{ entry.content }}</p>
            </div>
            <div class="entry">
                <h3>Resources to Remember:</h3>
                <ul>
                    <li><p>{{ entry.resources }}</p></li>
                </ul>
            </div>
            <div class="entry">
                <h3>View entries by tag:</h3>
                {% for tag in tags %}
                  {% if tag.id == entry.id %}
                    {% for item in tag.tags.split() %}
                      <ul>
                          <li><a href="{{ url_for('tags', tag=item) }}">{{ item }}</a></li>
                      </ul>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
            </div>
          </article>
        </div>
    </div>
    {% if current_user.is_authenticated and g.user.id == entry.user_id %}
    <div class="edit">
        <p><a href="{{ url_for('edit', id=entry.id) }}">Edit Entry</a></p>
        <p><a href="{{ url_for('delete', id=entry.id) }}">Delete Entry</a></p>
    </div>
</section>
    {% endif %}
{% endfor %}
{% endblock %}
