{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block content %}
<section>
    <div class="container">
        <div class="edit-entry">
            <h2>Edit Entry</h2>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {% for field in form %}
                    {{ render_field(field) }}
                {% endfor %}
                <input type="submit" value="Edit Entry" class="button">
                <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}
