{% extends "layout.html" %}

{% block content %}
{% for entry in entries %}
<section>
  <div class="conatiner">
    <div class="entry-list">
      <article>

          <h2>
              <a href="{{ url_for('detail', id=entry.id) }}">{{ entry.title }}</a>
          </h2>
          <time datetime="{{ entry.date_created.strftime('%B %d, %Y') }}">
            On: {{ entry.date_created.strftime('%B %d, %Y') }}
          </time>
          {% for tag in tags %}
            {% if tag.id == entry.id %}
              {% for item in tag.tags.split() %}
                  <li><a href="{{ url_for('tags', tag=item) }}">{{ item }}</a></li>
              {% endfor %}
            {% endif %}
          {% endfor %}
          {% for author in authors %}
            {% if entry.user_id == author.id and current_user.id == author.id %}
              <h4>By: Me</h4>
               {% elif entry.user_id == author.id %}
                    <h4>By: {{ author.username }}</h4>
             {% endif %}
          {% endfor %}

      </article>
    </div>
  </div>
</section>
{% endfor %}
{% endblock %}
