<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}MyJournal{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="{{ url_for('index') }}"><i class="material-icons">library_books</i></a>
                    {% if current_user.is_authenticated %}
                    <a class="button icon-right" href="{{ url_for('new_entry') }}"><span>New Entry</span> <i class="material-icons">add</i></a>
                    <h1>Hello {{ current_user.username }}!</h1>
                    <a href="{{ url_for('logout') }}" title="Log out">Log out</a>
                    {% else %}
                    <a href="{{ url_for('login') }}" title="Log in">Log in</a>
                    <a href="{{ url_for('register') }}" title="Register">Register</a>
                    {% endif %}
                </div>
            </div>
        </header>
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="notification {{ category }}">{{ message }}</div>
              {% endfor %}
          {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
    </body>
</html>
