{% extends "layout.html" %}

{% block content %}
{% for entry in tags %}
<section>
  <div class="conatiner">
    <div class="entry-list">
      <article>
          <h2>
              <a href="{{ url_for('detail', id=entry.id) }}">{{ entry.title }}</a>
          </h2>
          <time datetime="{{ entry.date_created.strftime('%B %d, %Y') }}">
            On: {{ entry.date_created.strftime('%B %d, %Y') }}
          </time>
          {% for tag in entry.tags.split() %}
            <li><a href="{{ url_for('tags') }}">{{ tag }}</a></li>
          {% endfor %}
      </article>
    </div>
  </div>
</section>
{% endfor %}
{% endblock %}
